
<!-- banner image display -->

<div class="banner carousel">
<!-- <div class="container-fluid"> -->
 <ngb-carousel *ngIf="slides">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="wrapper">
        <img src="{{slide.thumburl}}" class="image_size" alt="Random slide">
      </div>      
    </ng-template>   
  </ngb-carousel>
</div>


<!-- <app-gallery [gImage]="gallery"></app-gallery> -->

<!-- categories sections -->

<div id="categories" class="sections">

  <!-- live section -->

  <div class="live-section row">
    <div class="col-10">
      <h6>Live</h6>
    </div>
    <div class="col-2">
      <a role="button" (click)="galleryImage('live')">
          <h6> View All</h6>
      </a>
    </div>
  </div>
  
   <div *ngIf="live_videos"> 
      <carousel>  
        <div class="carousel-cell"  *ngFor="let live_image of live_videos">
          <img src="{{live_image.thumburl}}" class="carousel-image" alt="live stream">
        </div>
      </carousel>
    </div>
 
<!-- new arrivals section -->

  <div class="row">
    <div class="col-10">
      <h6>New Arrivals</h6>
    </div>
    <div class="col-2">
      <a role="button" (click)="galleryImage('arrivals')">
          <h6> View All</h6>
      </a>
    </div>
  </div>

  <div *ngIf="arrivals">
    <carousel>
      <div class="carousel-cell"  *ngFor="let a of arrivals">
        <img src="{{a.thumburl}}" class="carousel-image" alt="new arrivals" (click)="getId(a.id);openModal(content)">
      </div>
    </carousel>
  </div>
  

 <!-- documentary section -->

  <div class="row">
    <div class="col-10">
      <h6>Documentries</h6>
    </div>
    <div class="col-2">
      <a role="button" (click)="galleryImage('documentries')">
          <h6> View All</h6>
      </a>
    </div>
  </div>

  <div *ngIf="documentries">
    <carousel>
      <div class="carousel-cell"  *ngFor="let d of documentries">
        <img src="{{d.thumburl}}" class="carousel-image" alt="Documentaries">
      </div>
    </carousel>
  </div>

  <!-- series -->

<div class="row">
  <div class="col-10">
    <h6>Series</h6>
  </div>
  <div class="col-2">
    <a role="button" (click)="galleryImage('series')">
        <h6> View All</h6>
    </a>
  </div>
</div>

  <div *ngIf="originals">
    <carousel>
      <div class="carousel-cell"  *ngFor="let sa of series">
    
        <img src='{{sa.thumburl}}' alt="series videos">
      
      </div>
    </carousel>
  </div>

  <!-- Sabha TV Originals -->
  <div id='originals'>
  <div class="row">
    <div class="col-10">
      <h6>Sabha TV Originals</h6>
    </div>
    <div class="col-2">
      <a role="button" (click) ="galleryImage('originals')">
          <h6> View All</h6>
      </a>
    </div>
  </div>

  <div *ngIf="originals">
    <carousel>
      <div class="carousel-cell"  *ngFor="let o of originals">
        <img src="{{o.thumburl}}"  alt="originals">
      </div>
    </carousel>
  </div>
</div>

  <!-- Talk Show -->

  <div class="row">
    <div class="col-10">
      <h6>Talk Show</h6>
    </div>
    <div class="col-2">
      <!-- <a role="button" (click)="open(mymodal);galleryImage('talkshow')"> -->
        <a role="button" (click) ="galleryImage('talkshow')">
          <h6> View All</h6>
      </a>
    </div>
  </div>

  <div *ngIf="talk_show">
    <carousel>
      <div class="carousel-cell"  *ngFor="let t of talk_show">
        <img src="{{t.thumburl}}"  alt="talk show">
      </div>
    </carousel>
  </div>
</div>


